@import "../../sassStyles/mixins.scss";
@import "../../sassStyles/variables.scss";

/* ------------- ChatBtn ------------- */
.chatListBtn {
  position: fixed;
  bottom: 0;
  right: 40px;
  display: flex;
  align-items: center;
  column-gap: 7px;
  color: $textAdd1Color;
  user-select: none;
  cursor: pointer;
  @include mainBlock(23px, 7px);

  & span {
    margin-bottom: 1px;
  }

  & svg {
    width: 17px;
    height: 17px;
  }

  &:hover {
    background-color: $hoverColor;
  }
}
