@import "../../sassStyles/mixins.scss";

.friendsBlock {
  @include mainBlock(0px, 0px)
}

.header {
  display: block;
  margin-bottom: 5px;
  padding: 10px 14px 7px;
  @include font(14px);

  & span {
    margin-right: 8px;
  }
  
  & span.amount {
    color: $textAdd2Color;
  }
}

.friendsGrid {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-auto-rows: auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding: 0 12px 10px;
}

.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.avatarContainer {
  width: 50px;
  height: 50px;
}

.fullName {
  color: $textLinkColor;

  &:hover {
    text-decoration: underline;
  }
}

.fullName {
  @include font(13px)
}