@import "../../../sassStyles/mixins.scss";
@import "../../../sassStyles/variables.scss";

.counterBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $accentColor;
  user-select: none;
  cursor: pointer;

  &:hover .counterName {
    color: $accentColor;
  }
}

.counterName {
  color: $textAdd1Color;
  @include font(14px);
}

.counter {
  @include font(19px, 400, 19px);
  font-family: 'Roboto';
}
