@import '../../../sassStyles/mixins.scss';
@import '../../../sassStyles/variables.scss';

.userLink {
  display: grid;
  grid-template-columns: 15% 65% 10%;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  column-gap: 3%;
  @include mainBlock(10px, 10px);

  &:hover {
    background-color: $hoverColor;
  }

  &.active {
    color: #fff;
    background-color: $accentColor;
  }

  &.active .time,
  &.active .message {
    color: #fff;
  }

  &.active .messageCounter {
    display: none;
  }
}

.avatar {
  display: flex;
  grid-row: 1 / span 2;
}

.avatarContainer {
  width: 52px;
  height: 52px;
}

.name {
  @include font(13px, 500);
}

.message {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 0;
  color: $textAdd2Color;
  white-space: nowrap;
  @include font(13px);
}

.time {
  justify-self: end;
  color: $textAdd2Color;
  @include font(12px);
}

.messageCounter {
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 2px 1px;
  width: 16px;
  height: 16px;
  color: #fff;
  border-radius: 50%;
  background-color: $accentColor;
  @include font(12px)
}
