@import '../../sassStyles/mixins.scss';
@import '../../sassStyles/variables.scss';

.photoBlockWrapper {
  min-width: 200px;
  max-width: 250px;
}

.photoBlock {
  @include mainBlock;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.photoContainer {
  position: relative;
  height: 220px;
  overflow: hidden;
  cursor: pointer;

  &:hover > .updatingPhotoBlock {
    transform: translateY(0%);
    opacity: 1;
  }

  &:hover > .deletingPhotoBtn {
    opacity: 1;
  }

  .imgPreloader {
    height: 100%;
    cursor: default;
  }
}

.photo {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
}

.deletingPhotoBtn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  border-radius: 2px;
  background: rgba(51, 51, 51, 0.705);
  opacity: 0;
  transition: opacity 200ms linear;

  &.hover {
    opacity: 1;
  }

  & svg {
    width: 14px;
    height: 14px;
    color: #eeeeee;
  }

  & svg:hover {
    color: #fff;
  }
}

.updatingPhotoBlock {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7px 10px;
  width: 100%;
  opacity: 0;
  background: rgba(51, 51, 51, 0.705);
  transform: translateY(100%);
  transition: transform 200ms linear, opacity 200ms linear;

  &.hover {
    transform: translateY(0%);
    opacity: 1;
  }

  & input {
    display: none;
  }

  & label {
    @include font(13px);
    display: flex;
    column-gap: 5px;
    color: #eeeeee;
    cursor: pointer;

    &:hover {
      color: #fff;
    }

    &:hover .updatePhotoSvg {
      fill: #fff;
    }
  }
}

.updatePhotoSvg {
  margin-top: 3px;
  fill: #eeeeee;
}

.btn {
  color: $textAdd1Color;
  background: $disabledBtnColor;

  &:hover {
    background: $disabledBtnHoverColor;
  }
}

.btnPreloader:not(:last-child) {
  margin-bottom: 8px;
}
