@import '../../sassStyles/mixins.scss';
@import '../../sassStyles/variables.scss';

.photoBlockWrapper {
  min-width: 200px;
  max-width: 250px;
}

.photoBlock {
  display: flex;
  flex-direction: column; 
  row-gap: 10px;
  @include mainBlock;
}

.photoContainer {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  cursor: pointer;

  &:hover > .updatingPhotoBlock {
    transform: translateY(0%);
    opacity: 1;
  }

  &:hover > .deletingPhotoBtn {
    opacity: 1;
  }
}

.photo {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.deletingPhotoBtn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  border-radius: 2px;
  background: rgba(51, 51, 51, 0.705);
  opacity: 0;
  transition: opacity 200ms linear;

  &.hover {
    opacity: 1;
  }

  & svg {
    width: 14px;
    height: 14px;
    color: #eeeeee;
  }

  & svg:hover {
    color: #fff;
  }
}

.updatingPhotoBlock {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 7px 10px;
  opacity: 0;
  transform: translateY(100%);
  background: rgba(51, 51, 51, 0.705);
  transition: transform 200ms linear, opacity 200ms linear;

  &.hover {
    transform: translateY(0%);
    opacity: 1;
  }

  & input {
    display: none;
  }

  & label {
    display: flex;
    column-gap: 5px;
    color: #eeeeee;
    cursor: pointer;
    @include font(13px);

    &:hover {
      color: #fff;
    }

    &:hover .updatePhotoSvg {
      fill: #fff;
    }
  }
}

.updatePhotoSvg {
  fill: #eeeeee;
}

.btn {
  color: $textAdd1Color;
  background: $disabledBtnColor;

  &:hover {
    background: $disabledBtnHoverColor;
  }
}

/* ------------- SendMessagePopUp ------------- */
.popUpContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.753);
}

.popUp {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  max-width: 450px;
  width: 100%;
  transform: translate(-50%, -72%);
  background: #fff;
  box-shadow: 2px 2px 12px #000;
  @include mainBlock(0, 13px);
}

.flexRowContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 15px ;
  border-bottom: 1px solid $borderColor;
}

.newMessage {
  @include font(16px);
}

.openChatBtn {
  @include font(13px);
  color: $textPrimaryColor;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.closePopUpBtn {
  color: $lightBtn2Color;
  cursor: pointer;

  &:hover {
    color: $lightBtn2ColorHover;
  }
}

.profileInfo {
  display: flex;
  align-items: center;
  column-gap: 13px;
  padding: 20px 20px 20px;
}

.avatarContainer {
  width: 53px;
  height: 53px;
}

.infoColumn {
  display: flex;
  row-gap: 8px;
  flex-direction: column;
}

.fullName {
  color: $textPrimaryColor;
  @include font(14px, 600);
}

.lastActivity {
  color: $textAdd2Color;
}


.textAreaContainer {
  padding: 0 20px;
  margin: 0 0 20px 0;
}

.popUpTextField {
  width: 100%;
  height: 100px;
  padding: 7px 5px;
  border: 1px solid $borderColor;
  border-radius: 3px;
  resize: none;
  @include font(13px, 400, 21px);

  &:focus {
    outline: none;
  }
}

.flexRowFooter {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.attachments {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.btnSvg {
  color: $lightBtnColor;
  cursor: pointer;

  &:hover {
    color: $lightBtn2ColorHover;
  }
}

.moreBtn {
  display: flex;
  align-items: baseline;
  column-gap: 3px;
  cursor: pointer;
  color: $textAdd1Color;

  &:hover, &:hover > .btnSvg {
    color: $textHoverColor;
  }
}

.btnContainer {
  width: 70px;
}
