@import "../../../sassStyles/variables.scss";

.svg {
  color: $accentColor;
}

.menuItem {
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  column-gap: 8px;
  border-radius: 4px;
  cursor: pointer;

  & span {
    padding-bottom: 2px;
  }

  &:hover {
    background: $hoverColor;
  }
}