@import "../../../sassStyles/mixins.scss";

.newPost {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 15px;
  @include mainBlock(15px, 13px);
}

.avatarContainer {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
}

.textAreaContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textArea {
  width: 100%;
  height: 35px;
  padding: 8px;
  resize: none;
  border: none;
  background-color: $additionalBgColor;

  &:focus {
    resize: none;
    border: none;
    outline: none;
  }
}

.fileDescrBlock {
  display: flex;
  align-items: center;
  justify-content: start;
}

.fileDescr {
  padding-left: 8px;
  margin-right: 2px;
  font-size: 13px;
  color: $textAdd2Color;
}

.crossSvg {
  padding-top: 3px;
  width: 18px;
  height: 18px;
  color: $lightBtn2Color;
  cursor: pointer;

  &:hover {
    color: $lightBtn2ColorHover;
  }
}

.btnContainer {
  width: 70px;
}

.fileInput {
  display: flex;
}

.uploadAreaLabel {
  font-size: 0;
  cursor: pointer;
}

.fileSvg {
  width: 20px;
  height: 20px;
  color: $lightBtn2Color;

  &:hover {
    color: $lightBtn2ColorHover;
  }
}

.uploadArea {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  height: 0.1px;
  width: 0.1px;
}

