@import '../../../sassStyles/mixins.scss';
@import '../../../sassStyles/variables.scss';

.userItem {
  display: grid;
  grid-template-columns: minmax(15%, 65px) minmax(200px, 80%) 65px;
  column-gap: 3%;
  align-items: center;
  margin: 0 15px;

  &:not(:last-child) {
    border-bottom: 1px solid $borderColor;  
  }
}

.infoColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 7px;
}

.userName {
  color: #2A5885;
  @include font(16px, 600);

  &:hover {
    text-decoration: underline;
  }
}

.userStatus {
  color: #7c7c7c;
}

.newMessageBtn {
  color: #2A5885;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.userPhoto {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.btnContainer {
  justify-self: flex-end;
  align-self: flex-start;
  margin: 17px 4px 0 0;
}

.unfollowBtn {
  padding: 2px;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background-color: rgba(117, 117, 117, 0.637);
  cursor: pointer;

  &:hover {
    fill: #fff;
  }
}