@import "../../../sassStyles//animations.scss";

.errorWrapper {
  position: fixed;
  z-index: 3;
  bottom: 40px;
  right: 40px;
  padding: 10px 20px;
  border-radius: 1px;
  color: #fff;
  background-color: #d42344;
  animation-name: disappearance;
  animation-duration: 7s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}