.profile {
    display: flex;
    column-gap: 15px;
  }

  .leftCol {
    flex-basis: 230px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .rightCol {
    flex-basis: 535px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

