@import '../../../sassStyles/mixins.scss';
@import '../../../sassStyles/variables.scss';

.messageColumn {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  column-gap: 15px;
}

.avatar {
  grid-row: 1 / span 2;
  display: flex;
  width: 42px;
  height: 42px;
}

.name {
  margin: 0 5px 0 0;
  color: $accentColor;
  @include font(13px, 600);
}

.time {
  color: $textAdd2Color;
  @include font(12px);
}

.message {
  margin: 0;
  @include font(13px, 400);
}
