@import "../../../sassStyles/mixins.scss";

.post {
  margin-bottom: 15px;
  @include mainBlock();
}

.postTopRow {
  display: flex;
  align-items: center;
  column-gap: 13px;
  margin-bottom: 10px;
}

.avatarContainer {
  width: 50px;
  height: 50px;
}

.columnBlock {
  display: flex;
  flex-direction: column;
}

.profileName {
  font-weight: 600;
  color: $textPrimaryColor;

  &:hover {
    text-decoration: underline;
  }
}

.date {
  color: $textAdd1Color;
}

.dotsSvgContainer {
  margin: 0 0 0 auto;

  & svg {
    color: $lightBtn2Color;
    cursor: pointer;
  }
}

.postBody {
  margin-bottom: 15px;
}

.postParagraph {
  margin: 0;
}

.image {
  width: 100%;
  height: auto;
}

.postBottomBtns {
  display: flex;
  column-gap: 10px;
}

.btnSvg {
  display: flex;
  align-items: center;
  column-gap: 2px;
  padding: 5px 13px;
  color: $lightBtn2Color;
  font-weight: 600;
  border-radius: 30px;
  background-color: #F0F2F5;
  cursor: pointer;

  &:hover {
    background-color: #e2e8eb;
  }
}
