@import "../../../sassStyles/mixins.scss";

.post {
  margin-bottom: 15px;
  @include mainBlock();
}

.postTopRow {
  display: flex;
  align-items: center;
  column-gap: 13px;
  margin-bottom: 10px;
}

.avatarContainer {
  width: 50px;
  height: 50px;
}

.columnBlock {
  display: flex;
  flex-direction: column;
}

.profileName {
  font-weight: 600;
  color: $textPrimaryColor;

  &:hover {
    text-decoration: underline;
  }
}

.date {
  color: $textAdd1Color;
}

.dotsSvgContainer {
  position: relative;
  margin: 0 0 0 auto;

  & svg {
    color: $lightBtn2Color;
    cursor: pointer;
  }

  &:hover .dotsSvgPopUp {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px)
  }
}

.dotsSvgPopUp {
  @include mainBlock(0px, 8px);

  position: absolute;
  bottom: -45px;
  right: 0;
  width: auto;
  height: auto;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0.301);
  transform: translateY(10px);
  transition: visibility 0.3s ease-in, opacity 0.3s ease-in-out, transform ease-in 0.2s;

  & li {
    padding: 5px 15px;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background-color: $hoverColor;
    }
  }
}

.postBody {
  margin-bottom: 15px;
}

.postParagraph {
  margin: 0;
}

.image {
  width: 100%;
  height: auto;
}

.postBottomBtns {
  margin-top: 10px;
  display: flex;
  column-gap: 10px;
}

.btnSvg {
  display: flex;
  align-items: center;
  column-gap: 2px;
  padding: 5px 13px;
  color: $lightBtn2Color;
  font-weight: 600;
  border-radius: 30px;
  background-color: #F0F2F5;
  cursor: pointer;

  &:hover {
    background-color: #e2e8eb;
  }
}
