@import '../../../sassStyles/mixins.scss';
@import '../../../sassStyles/variables.scss';

.profileInfo {
  display: grid;
  grid-template-columns: 200px 565px;
  column-gap: 15px;
}

.leftCol {
  flex: 0 0 35%;
  min-width: 200px;
  max-width: 250px;
}

.rightCol {
  flex: 1 1 50%;
}

.photoBlock {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  @include mainBlock;
}

.photoContainer {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  cursor: pointer;

  &:hover > .updatingPhotoBlock {
    transform: translateY(0%);
    opacity: 1;
  }
}

.photo {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.updatingPhotoBlock {
  background: rgba(51, 51, 51, 0.705);
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 200ms linear, opacity 200ms linear;
}

.updatePhotoBtn {
  color: #333;
  &:hover {
    color: #fff;
  }
}

.info {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  @include mainBlock;
}

.primaryInfo {
  margin: 0 0 15px 0;
  border-bottom: 1px solid $borderColor;
}

.additionalInfo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-row-gap: 15px;
}

.firstCol {
  color: $textAdd2Color;
}
