@import "../../../sassStyles/mixins.scss";

.chatWindow {
  display: grid;
  grid-template-rows: 40px auto 50px;
  height: 450px;
  width: 300px;
  border: 1px solid $borderColor;
  @include mainBlock(0, 0);
  box-shadow: 0 0 10px $borderColor;
  user-select: none;


  &.active .header {
    cursor: grabbing
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  cursor: grab;

  & span {
    margin-bottom: 1px;
    font-weight: 600;
  }

  & svg {
    color: $lightBtn2Color;
    cursor: pointer;
  }

  & svg:hover {
    color: $lightBtn2ColorHover
  }
  
}

.currentChat {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.avatarContainer {
  width: 25px;
  height: 25px;
}

.dialogName {

}

.btnsRowContainer {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.crossSvg {
  width: 24px;
  height: 24px;
}

.fullScreenSvg {
  width: 18px;
  height: 18px;
}

.footer {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 0 10px;
  border-bottom: 1px solid $borderColor;
  border-top: 1px solid $borderColor;

  & svg {
    width: 18px;
    height: 18px;
    fill: $lightBtn2Color;
    cursor: pointer;
  }
}

.textArea {
  width: 100%;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 5px;
  border: none;
  resize: none;
  @include font(14px);

  &:focus {
    outline: none;
  }

  &::placeholder {
    @include font(16px);
  }
}

.active {
  cursor: grabbing;
}