@import '../../sassStyles/mixins.scss';
@import '../../sassStyles/variables.scss';

.usersIFollowSection {
  display: grid;
  grid-template-columns: 535px 230px;
  column-gap: 15px;
  align-items: start;
}

.usersSection {
  display: grid;
  grid-template-rows: auto 45px;
  @include mainBlock(0, 0);
}

.usersTabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 14px;
}

.tabItem {
  padding: 18px 0;
  cursor: pointer;
  user-select: none;
  @include font(15px, 400);

  &:hover {
    border-bottom: 2px solid $hoverColor;
    padding-bottom: 16px;
  }

  &.active {
    padding-bottom: 16px;
    border-bottom: 2px solid $accentColor;
    font-weight: 600;
  }
}

.totalCount {
  color: $textAdd2Color;
  @include font(14px, 500);
}

.tabsRow {
  display: flex;
  column-gap: 13px;
}

.searchInput {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  border: none;
  border-bottom: 1px solid $borderColor;
  border-top: 1px solid $borderColor;
  box-shadow: 0px 2px 5px 0px white;

  &:focus {
    outline: none;
  }
}

.usersList {
  display: grid;
  grid-auto-rows: 100px;
}

.usersNav {
  grid-column-start: 2;
  grid-column-end: 3;
  align-content: auto;
  @include mainBlock(0, 6px)
}

.usersNavItem {
  display: block;
  padding: 9px 18px;
  color: $accentColor;
  user-select: none;
  cursor: pointer;

  &:hover {
    background: $hoverColor;
  }

  &.active {
    border-left: 2px solid $accentColor;
    padding-left: 17px;
    font-weight: 600;
    color: #000;
  }
}