@import '../../../sassStyles/variables.scss';

.btn {
  padding: 6px 5px;
  width: 100%;
  height: 30px;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: $primaryBtnColor;
  cursor: pointer;

  &:hover {
    background-color: $primaryBtnHoverColor;
  }
}
