@import '../../../sassStyles/_variables.scss';

.btn {
  padding: 10px 5px;
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: $accentColor;
  cursor: pointer;

  &:disabled {
    background-color: red;
  }
}
