@import '../../sassStyles/variables.scss';
@import '../../sassStyles/mixins.scss';

.usersSection {
}

.title {
  margin: 0 0 20px 0;
  color: #bcc5ce;
}

.usersList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, auto));
  grid-column-gap: 40px;
  justify-content: space-between;
  @include shadowBlock;
}

/*============================== PAGINATION ==============================*/

.pagination {
  display: flex;
  justify-content: left;
  margin: 0 0 30px;
  user-select: none;
}

.paginationBtn {
  /* cursor: pointer; */
}

.paginationContainer {
  width: 200px;
  overflow: hidden;
}

.paginationItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40px;
  height: 30px;
  flex-shrink: 0;
  border: 1px solid #666;
  cursor: pointer;
}

.paginationItem.active {
  color: #fff;
  background-color: #7090e8;
}

.paginationSlider {
  display: flex;
  transform: translateX(-0px);
}
