@import "../../../sassStyles/variables.scss";

.messages {
  margin: 5px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.preloaderContainer {
  padding-top: 67px;
}


