@import '../../sassStyles/variables.scss';
@import '../../sassStyles/mixins.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  grid-area: header;
  border-bottom: 1px solid $borderColor;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: $primaryBgColor;
}

.logoContainer {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: $accentColor;
  @include font(20px, 600);
}

.logo {
  & img {
    width: 34px;
    height: 34px;
    padding: 2px;
  }
}

.currentUser {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: rgb(88, 75, 75);
  height: 50px;
  z-index: 1;
}

.menuItem {
  width: 20px;
  height: 20px;
}

.menuBurger {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/svg/interfaceMob/menu-burger.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.message {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/svg/interfaceMob/message.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
