@import '../../sassStyles/_variables.scss';
@import '../../sassStyles/mixins.scss';

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  grid-area: header;
  border-bottom: 1px solid $borderColor;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: $primaryBgColor;
}

.logoContainer {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: $accentColor;
  @include font(20px, 600);
}

.logo {
  & img {
    width: 34px;
    height: 34px;
    padding: 2px;
  }
}
