@import '../../sassStyles/variables.scss';
@import '../../sassStyles/mixins.scss';

.header {
  position: sticky;
  z-index: 2;
  top: 0;
  height: $header-height;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 470px) minmax(100px, 470px) 1fr;
  box-shadow: 0 1px 0 0 #dae0e971, 0 0 0 1px #dae0e971;
  background-color: $primaryBgColor;
}

.logoContainer {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  justify-self: start;
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-left: 16px;
  font-variant: small-caps;
}
