@import '../../sassStyles/variables.scss';
@import '../../sassStyles/mixins.scss';

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 470px) minmax(100px, 470px) 1fr;
  background-color: $primaryBgColor;
}

.logoContainer {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  justify-self: start;
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-left: 16px;
  font-variant: small-caps;
}








