@import '../../sassStyles/variables.scss';
@import '../../sassStyles/mixins.scss';

.aside {
  grid-area: aside;
}

.nav {
  display: flex;
  flex-direction: column;
}

.link {
  padding-right: 10px;
}

.phoneNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  box-shadow: 0px -1px 7px 0px #dfdfdf;
  background: $primaryBgColor;
  display: none;

  & a {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    & div:hover {
      background: none;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .nav {
    display: none;
  }
  
  .phoneNav {
    display: flex;
  }
}





// .aside__item {
// }

// .aside__link {
//   display: block;
//   padding: 8px 0;
//   border-radius: 3px;
//   @include font(13px);

//   &:hover {
//     background: #E5E7EB;
//   }
// }

// .mainNav {
//   margin: 0 0 50px 0;
// }

// .friendsTitle {
//   color: $textAdd1Color;
// }

// .friendsList {
//   display: flex;
// }

// .friend {
//   margin: 0 5px;
//   align-items: center;
// }

// .friendLink {
//   display: block;
//   text-align: center;
// }

// .friendAva {
//   object-fit: cover;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
// }

// .friendName {
//   color: $textAdd1Color;
// }

// @include mdMaxBreakPoint {
//   .list {
//     display: none;
//   }
// }
