@import '../../../sassStyles/mixins.scss';

.field {
  position: relative;
  width: 100%;
  // padding-top: 2px;
}

// .textArea {
//   max-width: 200px;
//   width: 100%;
//   padding: 7px 12px;
//   font-family: 'Roboto', sans-serif;
//   border: 1px solid rgba(129, 129, 129, 0.514);
//   border-radius: 3px;
//   @include font(15px);

//   &:focus {
//     outline: none;
//   }
// }

.required {
  border: 1px solid red;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 187px;
  max-width: 300px;
  width: 100%;
  border: 1px solid #a53d3b;
  border-radius: 3px;
  transform: translate(30px, -59%);
  background-color: #be4b49;

  & div {
    position: absolute;
    top: 59%;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #be4b49;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  & p {
    position: relative;
    z-index: 3;
    margin: 6px 8px;
    text-align: center;
    color: #fff;
    @include font(14px, 300, 17px);
  }
}

/* ------------- Checkbox ------------- */
.checkboxWrapper { 
  padding-bottom: 15px;
  padding-left: 6px;
}

.checkboxContainer {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover .checkMark {
    background: #ccc;
  }

  & .checkbox:checked ~ .checkMark {
    background: #2196F3;
  }

  & .checkbox:checked ~ .checkMark:after {
    display: block;
  }

  & .checkMark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #eee;

  &:after {
    content: '';
    position: absolute;
    display: none;
  }
}
