$primaryBgColor: #fdfdfd;
$additionalBgColor: #f9fbfc;

$textPrimaryColor: #2a405a;
$textAdd1Color: #506175;
$textAdd2Color: #646363;
$textActiveColor: #2e71c6;

$hoverColor: #dce0e08a;
$accentColor: #5181b8;

$borderColor: #9e9e9e69;