@keyframes disappearance {
  0% {opacity: 0; transform: translateX(40px) ;}
  17% {opacity: 1; transform: translateX(-5px);}
  90% {opacity: 1; transform: translateX(-5px);}
  100% {opacity: 0; transform: translateX(-120px);}
}