@import "variables.scss";

@mixin mainBlock($paddingX: 15px, $paddingY: 15px) {
  padding: $paddingY $paddingX;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 #dae0e971, 0 0 0 1px #dae0e971;
  background-color: $additionalBgColor;
}

@mixin font($size: 15px, $weight: 400, $height: $size, $spacing: normal) {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto';
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin myScroll {
  &::-webkit-scrollbar {
    margin-right: -20px;
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #cecbcb5e;

    &:hover {
      background-color: #cecbcbb0;
    }
  }
}

@mixin smMaxBreakPoint {
  @media screen and (max-width: $screen-sm) {
    @content;
  }
}

@mixin mdMaxBreakPoint {
  @media screen and (max-width: $screen-md) {
    @content;
  }
}
