$hoverColor: #dce0e08a;
$accentColor: #5083bd;

$borderColor: #9e9e9e69;

$header-height: 48px;

/* ------------- Background ------------- */
$primaryBgColor: #fdfdfd;
$additionalBgColor: #f9fbfc;
$additionalBg2Color: #F0F2F5;

/* ------------- Button ------------- */
$disabledBtnColor: #E5EBF1;
$disabledBtnHoverColor:  #DAE2EA;
$lightBtnColor: #b3b0b0;
$lightBtn2Color: #9c9c9c;
$lightBtn2ColorHover: #808080;
$primaryBtnColor: #5083BD;
$primaryBtnHoverColor: #5c94d4;

/* ------------- Text ------------- */
$textPrimaryColor: #2f5380;
$textAdd1Color: #7d95b1;
$textAdd2Color: #646363;
$textActiveColor: #2e71c6;
$textHoverColor: #6186ac;

/* ------------- BreakPoints ------------- */
$screen-sm: 550px;
$screen-md: 768px;
$screen-lg: 1024px;



