$hoverColor: #dce0e08a;
$accentColor: #2461a7;

$borderColor: #9e9e9e69;

$header-height: 48px;

/* ------------- Background ------------- */
$primaryBgColor: #fdfdfd;
$additionalBgColor: #f9fbfc;
$additionalBg2Color: #F0F2F5;

/* ------------- Button ------------- */
$disabledBtnColor: #E5EBF1;
$disabledBtnHoverColor:  #DAE2EA;

/* ------------- Text ------------- */
$textPrimaryColor: #2a405a;
$textAdd1Color: #506175;
$textAdd2Color: #646363;
$textActiveColor: #2e71c6;

/* ------------- BreakPoints ------------- */
$screen-sm: 550px;
$screen-md: 768px;
$screen-lg: 1024px;



