.main__imgContainer {
  position: relative;
  padding: 0 0 20% 0;
}

.main__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/2387873/pexels-photo-2387873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
