@import '../../sassStyles/mixins.scss';
@import '../../sassStyles/variables.scss';

.messenger {
  display: grid;
  grid-template-columns: 300px 480px;
  grid-template-rows: calc(100vh - $header-height - 35px);
}

.dialogsWrapper {
  overflow-y: scroll;
  @include myScroll
}

.dialogs {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.messagesBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mainBlock(0, 0);
  padding-top: 20px;
}

.messagesWrapper {
  overflow-y: scroll;
  border-top: 1px solid $borderColor;
  @include myScroll
}

.messages {
  margin: 5px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.textareaWrapper {
  padding: 10px 15px 7px 15px;
  border-top: 1px solid $borderColor;
}

.newMessageField {
  padding: 11px 10px;
  width: 100%;
  height: 39px;
  border: 2px solid rgba(153, 153, 153, 0.281);
  border-radius: 4px;
  resize: none;
  @include font(13px, 400, 20px);

  &:focus {
    outline: none;
  }
}
