@import "../../../../sassStyles/mixins.scss";

.status {
  margin: 1px 0 -3px 0;
  padding: 7px 0 6px 6px;
  cursor: pointer;
  @include font(13px, 400);

  &.statusEmpty {
    color: #777;
  }

  &:hover {
    background: $hoverColor;
  }
}

.input {
  margin: 0 0 -4px 0;
  padding: 4px 0 4px 5px;
  width: 100%;
  border: 1px solid $borderColor;
  @include font(13px, 400);

  &:focus {
    outline: none;
  }
}