@import 'sassStyles/variables.scss';

.appWrapper {
  display: grid;
  grid-template-columns: minmax(auto, 220px) 1fr;
  grid-template-rows: minmax(auto, 80px) minmax(100vh, auto);
  grid-template-areas:
    'header header'
    'aside content';
  max-width: 1200px;
  margin: 0 auto;
}

.mainContent {
  position: relative;
  grid-area: content;
  padding: 15px 15px;
  border-radius: 20px;
}

.preloaderContainer {
  margin: 0 auto;
  position: relative;
  width: 100px;
  height: 100px;
}