@import 'sassStyles/variables.scss';

.appWrapper {
  display: grid;
  grid-template-columns: minmax(5px, 15%) 20% 50% minmax(5px, 15%);
  grid-template-rows: 48px minmax(100vh, auto);
  grid-template-areas:
    'header header header header'
    '. aside content .';
  row-gap: 15px;
  margin: 0 auto;
}

.mainContent {
  position: relative;
  grid-area: content;
  border-radius: 20px;
}

.preloaderContainer {
  margin: 0 auto;
  position: relative;
  width: 100px;
  height: 100px;
}