@import 'sassStyles/variables.scss';

.app-wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 220px) 1fr;
  grid-template-rows: minmax(auto, 80px) minmax(100vh, auto);
  grid-template-areas:
    'header header'
    'aside content';
  max-width: 1200px;
  margin: 0 auto;
  background-color: $additionalBgColor;
}

.main-content {
  position: relative;
  grid-area: content;
  padding: 15px 15px;
  border-radius: 20px;
}
