@import '../../sassStyles/_mixins.scss';
@import '../../sassStyles/_variables.scss';

.dialogsPage {
  display: flex;
}

.dialogs {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.dialogBlock {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include shadowBlock();
}

.dialogsWrapper {
  margin: 0 10px 0 0;
  height: 500px;
  overflow-y: scroll;
  @include myScroll
}

.conversationWrapper {
  height: 450px;
  overflow-y: scroll;

  @include myScroll
}

.conversation {
  margin: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.newMessage {
  padding: 11px 10px;
  width: 100%;
  height: 39px;
  border: 2px solid rgba(153, 153, 153, 0.281);
  border-radius: 4px;
  resize: none;
  @include font(13px, 400);

  &:focus {
    outline: none;
  }
}
