@import "../../sassStyles/mixins.scss";

.messagesBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mainBlock(0, 0);
  padding-top: 20px;
}

.textAreaWrapper {
  padding: 10px 15px 7px 15px;
  border-top: 1px solid $borderColor;
}

.newMessageField {
  padding: 11px 10px;
  width: 100%;
  height: 50px;
  max-height: 120px;
  border: 2px solid rgba(153, 153, 153, 0.281);
  border-radius: 4px;
  resize: none;
  overflow-y: auto;
  @include font(13px, 400, 20px);
  @include myScroll();

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: $disabledBtnColor;
  }
}