@import "../../sassStyles/mixins.scss";

.messagesBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mainBlock(0, 0);
  padding-top: 20px;
}

.messagesWrapper {
  border-top: 1px solid $borderColor;
  overflow-y: auto;
  @include myScroll();
}

.emptyChatPlaceholder {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #9c9c9cc9;
  cursor: default;
  user-select: none;
}

.textareaWrapper {
  padding: 10px 15px 7px 15px;
  border-top: 1px solid $borderColor;
}

.newMessageField {
  padding: 11px 10px;
  width: 100%;
  height: 50px;
  max-height: 120px;
  border: 2px solid rgba(153, 153, 153, 0.281);
  border-radius: 4px;
  resize: none;
  overflow-y: auto;
  @include font(13px, 400, 20px);
  @include myScroll();

  &:focus {
    outline: none;
  }
}

