@import '../../../../sassStyles/mixins.scss';
@import '../../../../sassStyles/variables.scss';

.messageColumn {
  display: flex;
  column-gap: 15px;
}

.avatar {
  flex-shrink: 0;
  display: flex;
  width: 42px;
  height: 42px;
}

.name {
  margin: 0 5px 0 0;
  color: $accentColor;
  cursor: pointer;
  @include font(13px, 600);

  &:hover {
    text-decoration: underline;
  }
}

.time {
  color: $textAdd2Color;
  @include font(12px);
}

.message {
  margin: 0 0 7px 0;
  @include font(13px, 400, 20px);
}
